/* body {
    background: rgb(99, 39, 120)
} */






.add-annonce{
    width: 190px;
}

.form-control:focus {
    box-shadow: none;
    border-color: #005555;
}

.profile-button {
    background: #005555;
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #005555
}

.profile-button:focus {
    background: #005555;
    box-shadow: none
}

.profile-button:active {
    background: #005555;
    box-shadow: none
}

.back:hover {
    color: #005555;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #058f8f;
    color: #fff;
    cursor: pointer;
    border: solid 1px #058f8f
}